@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
:root {
  --window-height: 100%;
  --window-width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  height: var(--window-height);
  width: max(var(--window-width), 390px);
  background-color: #f1f2f6;
}

.centered-page {
  display: flex;
  height: var(--window-height);
  background-color: #f1f2f6;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}

.title {
  font-size: 48px;
  margin: 10px;
}

.underlined {
  border-bottom: 1px solid black;
}

.margined {
  margin: 0 10px 20px 10px;
}

.droids-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, 14rem);
  grid-gap: 1.5rem;
}

.item {
  padding: 0.5rem;
  background-color: #c1afa0;
  box-shadow: 2px 5px 10px 0 rgba(0, 0, 0, 0.5);
  text-align: center;

  transition: transform .2s;
  &:hover {
    transform: scale(1.1);
  }
}

.home-btn {
  background-color: white;
  font-size: 20px;
  margin: 0 2px 10px 2px;
  border-radius: 10px;
  border: 2px solid dimgray;

  width: 20rem;

  transition: .2s;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.back-btn {
  border-radius: 10px;
  height: 3rem;
  background-color: white;
  border: 2px solid dimgray;

  transition: .2s;
  &:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
}

.elems-in-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}